.cef-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px  40px;
    gap: 20px;
    max-width: 95%;
}

.cef-con h1{
    color: #000000;
    font-size: 28px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}
.cef-con p{
    color: #0000005c;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    max-width: 600px;
    text-align: center;
}
.cef-con img{
    max-width: 80%;
}
.cef-con .featureis{
    color: rgb(101, 10, 101);
    font-weight: bold;
    font-family: Roboto;
    font-size: 18px;
    background-color: rgba(220, 213, 220, 0.91);
    padding: 2px 20px;
    border-radius: 15px;
}
.a-container{
    margin-top: 70px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap
}
.feature-itemis{ 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 360px;
    padding: 20px 0px;
}
.feature-itemis p{
    color: #000000ae;
    font-size: 17px;
}
.learn-con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.learn-con p{
    color: blueviolet;
    font-size: 15px;
}
.rightarrow{
    color: blueviolet;
    margin-left: 8px;
    font-size: 15px;
}