.nav-con{
    height: 55px;
    width: 100%;
    padding-top: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.list-con{
    display: flex;
    align-items: center;
}

.nav-item{
    list-style-type: none;
    font-size: 20px;
    margin-left: 35px;
    font-weight: 300;
}
.logo-con{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.logo-con img{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 5px;
}
.nav-con img{
    width: 55px;
    height: 55px;
}